<div (click)="openModal()">
   <div class="flex bg-lime-300 w-28 h-40 rounded-lg relative shrink-0 z-[-50] justify-center object-bottom ">
      <span class="inline-block align-bottom mt-auto w-full text-center mb-1">
         {{currentMaterial.weight}}
      </span>
      <div class="bg-lime-500 absolute p-5 inset-0 w-28 h-32 block rounded-lg shrink-0">
         <div class="flex justify-center">
            <img class="h-16 w-16 object-center" src="../../../../assets/placeholder.png" alt="Placeholder">
         </div>
         <div class="text-sm text-center mt-2">{{currentMaterial.materialType}}</div>
      </div>
   </div>
</div>

<app-new-material-component [material]="currentMaterial" [isOpen]="materialModal" (newMaterialEvent)="addMaterial($event)" (closeEvent)="newMaterialModalHandler($event)"></app-new-material-component>