<div>
   <div class="container sm px-4 mx-auto mt-2 lg:max-w-lg">
      <div class="w-full max-w-screen-xl mx-auto p-5 md:py-8 inline-flex ">
         <div>
            <img src="/../assets/placeholder.png" alt="logo" class="h-12">
         </div>
         <div class="ml-6 block">
            <span class="text-lg font-bold lg:text-xl">Recolección en proceso</span>
            <a class="text-md block font-semibold text-gray-800 hover:text-gray-600">
               @estado
            </a>
         </div>
      </div>
   </div>
   
   <div class="container sm px-4 mx-auto mt-2 lg:max-w-lg">
      <div class="flex flex-row marker:mx-10 mx-7 ">
         <div class="w-full bg-lime-400 rounded-l-full h-7 dark:bg-gray-700 flex animate-pulse">
            <div class="bg-lime-400 h-7 rounded-l-full" style="width: 45%"></div>
         </div>
         <div class="w-full bg-lime-400 h-7 dark:bg-gray-700 flex">
            <div class="bg-lime-400 h-7" style="width: 0%"></div>
         </div>
         <div class="w-full bg-lime-400 h-7 dark:bg-gray-700 flex">
            <div class="bg-lime-400 h-7" style="width: 0%"></div>
         </div>
         <div class="w-full bg-lime-400 rounded-r-full h-7 dark:bg-gray-700 flex ">
            <div class="bg-lime-400 h-7 rounded-r-full" style="width: 0%"></div>
         </div>
      </div>
   </div>
   
   
</div>


 