<app-navbar></app-navbar>
<app-menu-options [tittle]="'Opciones'" [menuOptions]="[{name: 'Gestionar cuenta', icon: '../../../../assets/Bioruta_logo.jpg', path: '/account' },{name: 'Historial recolecciones', icon: '../../../../assets/Bioruta_logo.jpg', path: '/pickup-history' }]"></app-menu-options>
<app-menu-options [tittle]="'Reciclar'" [menuOptions]="[{name: 'Solicitar recoleccion', icon: '../../../../assets/Bioruta_logo.jpg', path: '/request-pickup' },{name: 'Canjear', icon: '../../../../assets/Bioruta_logo.jpg', path: '' }]"></app-menu-options>
<app-menu-tracking></app-menu-tracking>