<div class="px-6 py-9 flex overflow-y-hidden overflow-x-auto relative z-0">

   <ng-template ngIf="materials">
      <div class="pr-7" *ngFor="let material of materials">
         <app-material [currentMaterial]="material"></app-material>
      </div>
   </ng-template>
   
   <div *ngIf="!(materials) || materials?.length != 3">
      <div (click)="openModal()" class="flex w-28 h-32">
         <div class="flex h-full w-full bg-gray-200 justify-center items-center rounded-lg">
            <img class="object-fill object-center h-24 w-24" src="../../../../assets/placeholder.png" alt="Placeholder">
         </div>
      </div>
   </div>
   
</div>

<app-new-material-component [material]="addNewMaterial()" [isOpen]="newMaterialModal" (newMaterialEvent)="addMaterialToMaterials($event)" (closeEvent)="newMaterialModalHandler($event)"></app-new-material-component>
